.tree {
  margin: 30px;
  img {
    height: 24px;
    z-index: 2;
    background-color: white;
  }
  .__nodes.vertical {
    flex-direction: column;
  }
  .__nodes {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    position: relative;
    width: fit-content;
    .__border {
      position: absolute;
      width: calc(100% - 154px);
      height: 100%;
      background: transparent;
      border: 1px solid gray;
      border-radius: 24px;
      left: calc(152px / 2);
      z-index: 1;
    }
    .__node {
      z-index: 2;
      .__node_parent {
        z-index: 2;
        margin: 24px 0;
        .__add {
          text-align: center;
          z-index: 2;
          img {
            cursor: pointer;
            background-color: white;
          }
        }
        .__node_content {
          z-index: 2;
          display: flex;
          gap: 12px;
          justify-content: center;
          line-height: 26px;
          padding: 8px;
          border: 2px solid gray;
          border-radius: 24px;
          margin: 24px auto;
          width: 133px;
          height: 26px;
          background-color: white;
        }
      }
    }
  }
}


//.popover__title {
//  font-size: 24px;
//  line-height: 36px;
//  text-decoration: none;
//  color: rgb(228, 68, 68);
//  text-align: center;
//  padding: 15px 0;
//}
//
//.popover__wrapper {
//  position: relative;
//  margin-top: 1.5rem;
//  display: inline-block;
//}
//.popover__content {
//  opacity: 0;
//  visibility: hidden;
//  position: absolute;
//  left: -150px;
//  transform: translate(0, 10px);
//  background-color: #bfbfbf;
//  padding: 1.5rem;
//  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
//  width: auto;
//}
//.popover__content:before {
//  position: absolute;
//  z-index: -1;
//  content: "";
//  right: calc(50% - 10px);
//  top: -8px;
//  border-style: solid;
//  border-width: 0 10px 10px 10px;
//  border-color: transparent transparent #bfbfbf transparent;
//  transition-duration: 0.3s;
//  transition-property: transform;
//}
//.popover__wrapper:hover .popover__content {
//  z-index: 10;
//  opacity: 1;
//  visibility: visible;
//  transform: translate(0, -20px);
//  transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
//}
//.popover__message {
//  text-align: center;
//}
